groq
gtts
transformers==4.45.2
Pillow
scipy
torch
torchvision
chromadb
sentence-transformers
gradio
fastapi
uvicorn[standard]
joblib
scikit-learn
numpy
einops
timm
pypdf
pydub
beautifulsoup4
requests
fpdf
youtube_transcript_api
faiss-cpu
graphviz
duckduckgo-search
genanki
